{% extends "base.html" %}

{% block title %}Verify OTP - Good AI Skin Doctor{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="card shadow-lg mx-auto" style="max-width: 500px;">
        <div class="card-body">
            <h2 class="card-title mb-3">Verify OTP</h2>
            <!-- {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %} 
                  <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %} -->
            {% endwith %}
            <form method="POST">
                <label class="form-label" for="otp">Enter OTP:</label>
                <input type="text" class="form-control mb-3" id="otp" name="otp" required>
                <button type="submit" class="btn btn-primary w-100">Verify</button>
            </form>
        </div>
    </div>
</div>

{% include '_chatbot_button.html' %}
{% endblock %}
